<header class="header">

    <!--SECCION SUPERIOR DEL HEADER (LOGO-COPY-DATOS DE OPERADOR LOGUEADO)-->
        <section class="header-topSection">
            <article class="header-topSection-logo">
                <img src="/images/partials/header-images/logo.jpg" alt="logo">
            </article>
            <article class="header-topSection-copy">
                <p>Centro de Cómputos</p>
                <p>Edificio Comodoro Py 2002</p>
            </article>
            <article class="header-topSection-operator">
                <img src="/images/operators/default-image.jpg" alt="avatar">
                <p>Hola, <%= locals.operatorLogged.first_name %> <%= locals.operatorLogged.last_name %> </p>
                <form action="/operators/logout" method="post">
                    <button type="submit">SALIR</button>
                </form>
            </article>
        </section>

    <!--SECCION INFERIOR DEL HEADER (BARRA DE MENU)-->
        <section class="header-bottonSection">
            <article class="header-bottonSection-mobile">
                <i class="fa-solid fa-bars"></i>
            </article>
            <article class="header-bottonSection-desktop">
                <nav>
                    <ul>
                        <li><a href="/">INICIO</a></li>
                        <li><a href="">DEPENDENCIAS</a></li>
                        <li><a href="">USUARIOS</a></li>
                        <li><a href="">EQUIPAMIENTO</a></li>
                        <li><a href="">GUÍA TELEFÓNICA</a></li>                        
                    </ul>
                </nav>
            </article>
        </section>

</header>