<section class="shortcut-section">
    <article class="shortcut-section-article">
        <a href="/dependencies/create">
            <img src="/images/partials/shortcut/compu1.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Dependencias</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/incidents/create">
            <img src="/images/partials/shortcut/compu2.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Incidente</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/users/create">
            <img src="/images/partials/shortcut/compu3.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Usuario</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/operators/create">
            <img src="/images/partials/shortcut/compu4.jpg" alt="acceso directo alta de dependencia">
            <p>Crear Operador</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="/equipment/create">
            <img src="/images/partials/shortcut/compu5.jpg" alt="acceso directo alta de dependencia">
            <p>Crear equipamiento</p>
        </a>
    </article>
    <article class="shortcut-section-article">
        <a href="">
            <img src="/images/partials/shortcut/compu6.jpg" alt="acceso directo alta de dependencia">
            <p>Listar Teléfonos</p>
        </a>
    </article>
    
</section>
