<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/partials/header-styles.css">
    <link rel="stylesheet" href="/css/partials/shortcut-styles.css">
    <link rel="stylesheet" href="/css/partials/footer-styles.css">

    <title>Pagina Principal</title>
</head>
<body>
    <!--INICIO DEL HEADER-->
    <%- include ('../partials/header.ejs') %>
    <!--FIN DEL HEADER-->

    <!--INICIO DE LA SECCION DE LOS ACCESOS DIRECTOS A FUNCIONALIDADES MAS USADAS-->
        <%- include ('../partials/shortcut.ejs') %>
    <!--FIN DE LA SECCION DE LOS ACCESOS DIRECTOS A FUNCIONALIDADES MAS USADAS-->

    <main>

        <h1>PAGINA PRINCIPAL DE LA APLICACION</h1>

    </main>

    <!--INICIO DEL FOOTER-->
    <%- include ('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER-->

</body>
</html>