*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer{
    max-width: 1200px;
    margin: auto;
}

footer img{
    width: 100%;
}

@media (min-width: 769px){
    
    footer img{
        height: 300px;
    }

}