.table-column-edit, .table-column-delete{
    text-align: center;
}

@media (max-width: 769px){
    
    .table-column-email, .table-column-code, .table-column-subCode, .table-column-observations{
        display:none;
    }
}

@media (max-width: 481px){

    .table-column-email{
        display: none;
    }
}



